* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgba(164, 69, 252, 1) 42%, rgba(207, 69, 252, 1) 72%);
  color: white;
  height: 70px;
  padding: 20px;

}

.header-img {
  margin-right: 10px;
  height: 60px;
}

.header-title {
  margin-right: auto;
  font-size: 1.75rem;
  letter-spacing: 1px;
}

.header h3 {
  font-size: 1rem;
  margin-right: 20px;
  letter-spacing: 1px;
}


.form {
  display: grid;
  grid-template: 48px 48px / 1fr 1fr;
  gap: 19px;
  padding: 10px;

}

.label {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1.1rem;
  color: purple;
}

.form-input {
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  text-indent: 5px;

  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 4px;
}

.form-button {
  grid-column: 1 / -1;
  width: 35%;
  margin: 0 auto;

  font-size: 1rem;
  letter-spacing: 1px;
  cursor: pointer;

  background: linear-gradient(90deg, rgba(164, 69, 252, 1) 42%, rgba(207, 69, 252, 1) 72%);
  color: white;

  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.meme {
  position: relative;
  left:21em;
}

.meme-img {
  max-width: 100%;
  /* border-radius: 4px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.meme-text {
  position: absolute;
  left: 50%;
  width: 80%;
  color: white;
  
  margin: 15px 0;
  padding: 0 5px;
  transform: translateX(-50%);
  
  font-family: impact, sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;


  text-shadow:
        2px 2px 0 black,
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        0 2px 0 black,
        2px 0 0 black,
        0 -2px 0 black,
        -2px 0 0 black,
        2px 2px 5px black;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
